*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

:root{
    --col-01: rgb(221, 221, 221);
    --col-02: rgb(221, 221, 221);
    --col-03: rgb(221, 221, 221);
    --col-04: rgb(221, 221, 221);
    --col-05: rgb(0, 0, 0);
    --col-06: rgb(200, 200, 200);
    --col-07: rgb(117, 117, 117);
    --border-one: dashed 2px white;
}

@font-face {
    font-family: Mono-Regular;
    src: url(./fonts/MonoRegular-jEmAR.ttf);
    font-family: Mono-Light;
    src: url(./fonts/MonoLight-VG7yz.ttf);
    font-family: Mono-Bold;
    src: url(./fonts/MonoBold-z8jG0.ttf);
  }

body{
    background-color: var(--col-01);
}

#header{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: Mono-Bold;
    background-color: var(--col-02);
    color: var(--col-05);
    z-index: 1;
}

#generate{
    margin-left: auto;
    margin-right: auto;
}

#prompt-container{
    display: flex;
    position: absolute;
    z-index:4;
    top:50%;
    left:50%;
    width: 80%;
    height: 44px;
    transform: translate(-50%, -50%);
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0,0,82,.15);
}

#directions{
    width: 80%;
    height: 44px;
    top:45%;
    left:50%;
    position: absolute;
    z-index:-1;
    transform: translate(-50%, -50%);
    color: var(--col-07);
    margin-bottom: 15px;
    padding-left: 2px;
}

#prompt{
    flex: 1 1;
    width: 80%;
    height: 100%;
    z-index:3;
    padding-top: 13px;
    padding-right: 14px;
    padding-bottom: 13px;
    padding-left: 14px;
    border-radius: 6px 0 0 6px;
    color: var(--col-06);
}
#button{
    height: 100%;
    width: 80px;
    z-index:4;
    background-color: var(--col-05);
    color: var(--col-03);
    border-radius: 0 6px 6px 0;
}
#button:hover{
    cursor: pointer;
}
#picture{
    display: inline;
    object-fit: cover;
    position: absolute;
    height: 350px;
    width: 350px;
    margin-top: 12px;
    margin-left: 12px;
    z-index: -1;
}
#picture-box{
    display: flex;
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    height: 375px;
    width: 375px;
    margin-bottom: 40px;
    background-color: var(--col-04);
    z-index: -1;
}
